# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# ignoring the CodeBase File
Dataset_CodeBase/
